body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    font-style: normal;
}

header {
    background-color: black;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-left: 2%;
    padding-bottom: 5%;
    font-size: 180%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
