body {
    font-family: "Museo Sans", sans-serif;
}

th.iowa {
    font-family: cursive;
    color: gold;
}

th.ohio {
    font-family: cursive;
    color: silver;
}

th.istate {
    font-family: cursive;
    color: maroon;
}

td.win {font: bold 1.3em serif}

td.lose {font: italic .8em sans-serif}